html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
}

button {
  border: none;
  outline: 0;
}

.primary-input {
  width: 300px;
  margin: 6px 0;
  padding: 10px;
  background-color: whitesmoke;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  outline: 0;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.03) inset;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(30, 30, 30, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(30, 30, 30, 0.6);
}
