{
  "tabWidth": 2,
  "trailingComma": "none",
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false
}
